<h1>Hello Angular</h1>

<hr>

<!-- при помощи интерполяции мы можем вставлять значения переменных
в шаблон и даже делать там базовые манипуляции
так как содержимое в нутри кавычек  
ангуляр обработает как JS-->
<p>{{title}}</p>
<p>{{number - 6}}</p>
<p>{{23 + 7}}</p>
<p>{{'Hello' + ' Man'}}</p>
<p>{{obj.b.c}}</p>

<hr>

<!-- чтобы связывать ДАННЫЕ(JS) С ШАБЛОНОМ(HTML)
используются привязки
если чтото в теге обернуто в [] это значит что
атрибут привязывается к значению в свойстве
это односторонее связывание -->
<img [src]="img" alt="">

<hr>

<!-- чтобы связать ШАБЛОН И ДАННЫЕ
используется ивент привязки
это все собития которые заключены в круглых скобках -->

<!-- объект ивента не прередается автоматом в слушатель
если нужно то его нужно передать вручную -->

<!-- также есть возможность добавлять к названию обработчика
некий модификатор который позволяет контролировать легко поведение 
в данном случае собитие будет отрабатывать тольео по энтеру-->

<!-- с помощю  синтаксиса #myInput
создается переменная которая ссылается на данный элемент
и потом можно передать ее в обработчик для работы в коде-->
<input 
  type="text" 
  (keyup.enter)="onInput($event)"
  (blur)="onBlur(myInput.value)"
  #myInput
>

<p>{{inputText}}</p>

<!-- еще один способ свяки данных
это двусторонее связывание
данный синтаксис [()] обединяет два предыдущих способа привязок
и позволяет делать изменения одновременно и в ПРЕДСТАВЛЕНИИ И В КОДЕ -->
<input type="number" [(ngModel)]="myNumber">
<br>
<span><strong>{{myNumber}}</strong></span>

<app-directives></app-directives>