h2 {
    color: aqua;
}

button {
    cursor: pointer;
}

.red {
    background-color: tomato;
    font-size: 1.2rem;
    color: #fff;
}

.blue {
    background-color: blue;
    font-weight: 1.5rem;
    color: #fff;
}